.root {
  flex-basis: content;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  max-width: 54em;
  min-width: 36em;
}

.enter {
  display: none;
}
