.root {
  background-color: #e6e6fa;
  position: absolute;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
